@font-face {
  font-family: "iconfont"; /* Project id 3204854 */
  src: url('iconfont.woff2?t=1646022460262') format('woff2'),
       url('iconfont.woff?t=1646022460262') format('woff'),
       url('iconfont.ttf?t=1646022460262') format('truetype'),
       url('iconfont.svg?t=1646022460262#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  margin-right: 5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my-icon-layout-2:before {
  content: "\e62c";
}

.my-icon-layout:before {
  content: "\e627";
}

.my-icon-gl-jifen:before {
  content: "\e60a";
}

.my-icon-gl-tuangou:before {
  content: "\e62b";
}

.my-icon-shangjia:before {
  content: "\e79d";
}

.my-icon-yunying:before {
  content: "\e633";
}

.my-icon-gl-duanxin:before {
  content: "\e66a";
}

.my-icon-guanggao:before {
  content: "\e7dd";
}

.my-icon-gl-weixiu:before {
  content: "\e615";
}

.my-icon-gl-xinche:before {
  content: "\e61d";
}

.my-icon-gl-yuyue:before {
  content: "\e775";
}

.my-icon-gl-ershouche:before {
  content: "\fd72";
}

.my-icon-xs-kehu:before {
  content: "\e609";
}

.my-icon-xs-shouye:before {
  content: "\e611";
}

.my-icon-xs:before {
  content: "\e9a4";
}

.my-icon-xs-keliu:before {
  content: "\e650";
}

.my-icon-xs-peizhi:before {
  content: "\ea3f";
}

.my-icon-kf-baobiao:before {
  content: "\e65f";
}

.my-icon-kf:before {
  content: "\e60d";
}

.my-icon-kf-2:before {
  content: "\e634";
}

.my-icon-kf-yaoyue:before {
  content: "\e606";
}

.my-icon-kf-tixing:before {
  content: "\e632";
}

.my-icon-kf-shezhi:before {
  content: "\e6cf";
}

.my-icon-bx-tixing:before {
  content: "\e626";
}

.my-icon-bx-baojia:before {
  content: "\e619";
}

.my-icon-bx-liushui:before {
  content: "\e63c";
}

.my-icon-bx-shezhi:before {
  content: "\e8b7";
}

.my-icon-bx-taizhang:before {
  content: "\e65e";
}

.my-icon-bx:before {
  content: "\eace";
}

.my-icon-kq-kabao:before {
  content: "\e610";
}

.my-icon-kq-huodong:before {
  content: "\e600";
}

.my-icon-kq-xiaofeika:before {
  content: "\e61b";
}

.my-icon-kq:before {
  content: "\e669";
}

.my-icon-kq-pingtai:before {
  content: "\e61c";
}

.my-icon-kq-ziliao:before {
  content: "\e7ea";
}

.my-icon-kq-tongji:before {
  content: "\e61a";
}

.my-icon-kq-kaquan:before {
  content: "\e614";
}

.my-icon-fw-xiansuo:before {
  content: "\e63f";
}

.my-icon-fw-zhijian:before {
  content: "\e664";
}

.my-icon-fw-cheliang:before {
  content: "\e62a";
}

.my-icon-fw-yuyin:before {
  content: "\e8c0";
}

.my-icon-fw:before {
  content: "\e70f";
}

.my-icon-cw-print:before {
  content: "\e6b1";
}

.my-icon-cw:before {
  content: "\e603";
}

.my-icon-cw-duanxin:before {
  content: "\e772";
}

.my-icon-cw-kaquan:before {
  content: "\e612";
}

.my-icon-cw-zhifu:before {
  content: "\e63b";
}

.my-icon-cw-menjin:before {
  content: "\e624";
}

.my-icon-avatar:before {
  content: "\e638";
}

.my-icon-Loading:before {
  content: "\e65d";
}

.my-icon-arrow-up-circle:before {
  content: "\e665";
}

.my-icon-column-vertical:before {
  content: "\e67c";
}

.my-icon-column-horizontal:before {
  content: "\e67d";
}

.my-icon-chart-pie:before {
  content: "\e67f";
}

.my-icon-data-view:before {
  content: "\e686";
}

.my-icon-arrow-down-circle:before {
  content: "\e687";
}

.my-icon-transverse:before {
  content: "\e6a1";
}

.my-icon-member:before {
  content: "\e67e";
}

.my-icon-car:before {
  content: "\e60c";
}

.my-icon-hardware:before {
  content: "\ec89";
}

.my-icon-cost:before {
  content: "\e6db";
}

.my-icon-card:before {
  content: "\e628";
}

.my-icon-home2:before {
  content: "\e712";
}

.my-icon-home:before {
  content: "\e61f";
}

.my-icon-fullscreen-shrink:before {
  content: "\e602";
}

.my-icon-fullscreen-expand:before {
  content: "\e66f";
}

.my-icon-setting:before {
  content: "\e795";
}

.my-icon-data-view3:before {
  content: "\e608";
}

.my-icon-parking:before {
  content: "\e6da";
}

.my-icon-car-online:before {
  content: "\e64e";
}

.my-icon-data-view2:before {
  content: "\e629";
}

.my-icon-console:before {
  content: "\e693";
}

.my-icon-msg:before {
  content: "\e8bd";
}

.my-icon-parking2:before {
  content: "\e742";
}

.my-icon-staff:before {
  content: "\e60e";
}

.my-icon-record-repair:before {
  content: "\e621";
}

.my-icon-clock:before {
  content: "\e613";
}

.my-icon-menu:before {
  content: "\e899";
}

.my-icon-cost2:before {
  content: "\e62f";
}

.my-icon-journal:before {
  content: "\e6a8";
}

.my-icon-store:before {
  content: "\e605";
}

.my-icon-picture-filling:before {
  content: "\e6eb";
}

.my-icon-record-coupons:before {
  content: "\e623";
}

.my-icon-car-record:before {
  content: "\e630";
}

.my-icon-car-on:before {
  content: "\e6a9";
}

.my-icon-duration-free:before {
  content: "\e8c5";
}

.my-icon-duration-surplus:before {
  content: "\e8c6";
}

.my-icon-charging:before {
  content: "\e625";
}

.my-icon-jishiqi:before {
  content: "\e666";
}

.my-icon-role:before {
  content: "\e757";
}

.my-icon-userInfo:before {
  content: "\e622";
}

.my-icon-userInfo2:before {
  content: "\e631";
}

.my-icon-qq:before {
  content: "\e6a0";
}

.my-icon-email:before {
  content: "\e601";
}

.my-icon-wechat:before {
  content: "\e6b3";
}

.my-icon-seal:before {
  content: "\e607";
}

.my-icon-mobile:before {
  content: "\e89e";
}

.my-icon-sex:before {
  content: "\e639";
}

.my-icon-loading-2:before {
  content: "\e73c";
}

.my-icon-out-record:before {
  content: "\e61e";
}

.my-icon-version:before {
  content: "\e637";
}

.my-icon-feiyong:before {
  content: "\e604";
}

.my-icon-search:before {
  content: "\e679";
}

.my-icon-transverse2:before {
  content: "\e853";
}

